
on:
    pull_request:
      branches:
        - main
        - master
    push:
      branches:
        - main
        - master
        - develop
name: "Build & Release"
jobs:
    build:
      name: Build & Release
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-java@v3
          with:
            distribution: 'zulu'
            java-version: '17'
        - uses: subosito/flutter-action@v2
          with:
            channel: 'stable'
            architecture: x64
        - name: Clean Flutter build
          run: flutter clean && flutter pub get
        - name: Build APK
          run: flutter build apk --release
          env:
            GRADLE_USER_HOME: ${{ github.workspace }}/.gradle
        - name: Push to Releases
          uses: ncipollo/release-action@v1
          with:
            artifacts: "build/app/outputs/apk/release/*"
            tag: v1.0.${{ github.run_number }}
            token: ${{ secrets.TOKEN }} 
